@import "mixins";
@import "svgencodings";
@import "colors";
@import "buttons";
@import "home";
@import "form";

*:focus {
    outline: none;
}

.compare-left, .compare-right {
    min-width: 16px;
    min-height: 16px;
}

a,
a:focus,
a:hover {
    color: unset;
}

::-webkit-scrollbar{
    width: 11px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0,0,0,.5); 
}

legend {
    border-bottom: none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

#navbar {
    position: absolute; z-index: 1000; left: 0; right: 0;
}

.navbar-brand {
    padding: 2px 3px;
}

.navbar-brand img {
    height: 47px;
}

.svg-icon {
    display: inline-block;
    vertical-align: middle;
    width: 1.6em;
    height: 1.6em;
}

.text-white {
    color: #fff;
}

.nopadding {
    padding: 0;
    margin: 0;
}

#filter-section {
    background-color: #fff;
    background-color: rgba(255,255,255,1);
    box-shadow: 6px 0 10px -3px rgba(0,0,0,0.3);
    padding: 10px;
    overflow: hidden;
    z-index: 900px;
    position: relative;
    transition: all 400ms ease-out;
    transition-property: max-height, padding, box-shadow, background-color;
    max-height: calc(100vh - 90px);
    overflow-y: auto;
}

@media screen and (max-width: 767px) {
    #filter-section {
        max-height: none;
        position: static!important;
    }
}

#filter-section .filter-control, #filter-section .sort-control {
    margin: 5px;
}

#compare-dialog-wrapper {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    overflow: visible;
}

#compare-dialog {
    display: block;
    margin: 0 auto;
    width: 400px;
    max-width: 100%;
    transform: translateY(0px);
    padding-bottom: 5px;
    background: #222222;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: all 400ms ease-out;
    transition-property: transform;
}

#compare-dialog .menu-controls {
    padding: 5px 10px;
    user-select: none;
}

#compare-dialog .compare-control {
    cursor: pointer;
}

#up-down-compare .fa {
    transition: transform 200ms ease-out;
}

#up-down-compare.compare-open .fa {
    transform: rotate(180deg);
}

#compare-dialog .compare-left {
    float: left;
    margin-right: 5px;
}

#compare-dialog .compare-right {
    float: right;
    margin-left: 5px;
}

#compare-parts-content {
    max-height: 0;
    transition: all 400ms ease;
    transition-property: max-height;
    overflow-y: hidden;
}
#compare-parts-content.compare-open {
    max-height: 180px;
    overflow-y: auto;
}

#compare-parts-content ul {
    list-style: none;
    padding-left: 10px;
}

#compare-parts-content ul a {
    margin-left: 10px;
}

#compare-parts-content ul i {
    cursor: pointer;
    color: #ff0039;
    user-select: none;
}

#compare-parts-content::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.8); 
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#compare-dialog-wrapper.compare-visible #compare-dialog {
    transform: translateY(-100px);
    transform: translateY(-100%);
    transform: translateY(calc(-100% + 5px));
}

#sidebar-wrapper {
    z-index: 3000;
    position: fixed;
    transform: translateX(100%);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #121212;
    transition: all 400ms ease-out;
    color: white;
}
#sidebar-wrapper::before {
    content: " ";
    position: fixed;
    z-index: 2800;
    right: 100%; top: 0; bottom: 0;
    width: 0;
    transition: all 400ms ease;
    transition-property: width background-color 400ms ease;
    background-color: rgba(0,0,0,0);
}
#sidebar-wrapper.open::before {
    background-color: rgba(0,0,0,0.4);
    width: 100vw;
}

#sidebar-wrapper .sidebar-content {
    padding: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

#sidebar-wrapper .sidebar-content::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.8); 
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#sidebar-wrapper .sidebar-content .scoped-graph {
    padding-left: 20px;
}

.sidebar-wrapper-header {
    height: 50px;
    position: relative;
    background: #222222;
}

.sidebar-wrapper-header button.close-sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    position: absolute;
}

#sidebar-wrapper.open {
    transform: translateX(0);
}

#sidebar-wrapper.closing {
    transform: translateX(100%);
    transition-timing-function: ease;
    transition-duration: 200ms;
}

#info-message {
    padding: 10px;
    width: 400px;
    text-align: center;
    background: #2780e3;
    position: fixed;
    top: 46px;
    right: -131px;
    transform: rotate(45deg);
    z-index: 9000;
}

@media screen and (min-width: 480px) {
    #sidebar-wrapper {
        width: 400px;
        right: 0;
        left: auto;
    }
}
 
#header-wrapper {
    position: relative;
}

$banner-height: 100vh;

div#banner {
    height: $banner-height;
    overflow: hidden;
    width: 100%;
    position: relative;
}
figure#banner-img::before {
    content: " ";
    display: block;
    position: absolute;
    @include abspad(0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,0.35) 0%, rgba(43,45,49,0.35) 37%, rgba(31,32,35,0.62) 55%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,0.35) 0%,rgba(43,45,49,0.35) 37%,rgba(31,32,35,0.62) 55%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(69,72,77,0.35) 0%,rgba(43,45,49,0.35) 37%,rgba(31,32,35,0.62) 55%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5945484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

figure#banner-img {
    background: url('https://bunkersem.github.io/portfolio/images/rocket.svg?1520077167538') no-repeat center bottom;
    background-attachment: fixed;
    background-size: cover;
    height: $banner-height;
}

header#banner-content .full-height {
    height: $banner-height;
}

header#banner-content .banner-full-height {
    background: rgba(255,255,255,0.5);
    padding: 100px 50px;
    padding-bottom: 50px;
    height: auto;
}


@media screen and (min-width: 992px) {
    header#banner-content {
        position: absolute;
        top: 0; left: 0; right: 0;
        height: $banner-height;
    }
}

#scroll-up {
    position: absolute;
    z-index: 1200;
}

#scroll-up svg {
    position: fixed;
    bottom: 10px;
    right: 10px;
    stroke: #ff7518;
    stroke-width: 5px;
}

#scroll-up svg #arrow {
    transition: all 400ms ease;
    transition-property: transform;
    transform-origin: 50px 50px;
}

#scroll-up.up svg #arrow {
    transform: rotate(0deg);
}

#scroll-up.down svg #arrow {
    transform: rotate(180deg);
}

.filter-col {
    padding-top: 20px;
}

.parts-grid-container {
    padding: 10px;
}

.parts-grid .part-item {
    width: 100%;
    height: 400px;
}

.parts-grid .part-item .content {
    overflow: hidden;
    position: absolute;
    @include abspad(10px);
    background: rgb(77, 83, 90) url($loading-circle-1) no-repeat center top;
    background-position: center 20px;
    box-shadow: #ddd 0 1px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 30px 0, rgba(0, 0, 0, 0.2) 0 1px 10px 0;
    transition: all 400ms ease;
    transition-property: box-shadow, background-color;
}
.parts-grid .part-item .content::before {
    content: " ";
    display: block;
    position: absolute;
    @include abspad(0);
    background-color: rgba(0,0,0,0);
    transition: all 400ms ease;
    transition-property: background-color;
    
}

.parts-grid .part-item .content .text .view-more-wrapper {
    position: absolute;
    bottom: 100%;
    left: 0;
    max-height: 0;
    transition: all 400ms ease;
    transition-property: max-height;
    overflow:hidden;
}
.parts-grid .part-item .content:hover .text .view-more-wrapper {
    max-height: 60px;
}

.parts-grid .part-item .content:hover {
    transition: all 400ms ease;
    transition-property: box-shadow, background-color;
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 30px 0, rgba(0, 0, 0, 0.6) 0 1px 10px 0;
}

.parts-grid .part-item .content:hover::before {
    background-color: rgba(0,0,0,0.3);
}

.parts-grid .part-item .content.img-not-found {
    background-image: url($image);
}

.parts-grid .part-item .content .text {
    position: absolute;
    @include abspad(0);
    top: auto;
    height: 110px;
    transition: all 600ms ease;
    transition-property: height;
    background: #fff;
    box-shadow: inset 0 -10px 10px -10px #fff;
    padding: 20px;
}

.parts-grid .part-item .content .text::after {
    content: " ";
    box-shadow: inset 0 -8px 10px #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parts-grid .part-item .content .text table {
    width: 100%;
}

.parts-grid .part-item .content .text .details {
    transition: all 400ms ease;
    transition-property: max-height;
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: 0;
}

// .parts-grid .part-item .content .text table td:first-of-type {
//     width: 50%;
// }

.parts-grid .part-item .content .text .desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.parts-grid .part-item .content:hover .text .desc {
    white-space: normal;
}

.parts-grid .part-item .content:hover .text .details {
    max-height: 160px;
}

.parts-grid .part-item .content:hover .text {
    height: 300px;
}

.parts-grid .part-item .content .text .title {
    margin-top: 0;
}

.parts-grid .part-item .content::before {
    content: " ";
    display: block;
    position: absolute;
    @include abspad(0);
    background: rgba(143, 210, 255, 0.116);
}



@include partsgridcollums(400px);

footer {
    border-top: 40px solid #fff;
    background: #222222;
    z-index: 1000;
    position: relative;
    padding: 100px 0;
}

footer .social-media-list {
    font-size: 15px; 
    fill: #fff;
    list-style: none;
    padding-left: 0;
}

footer .social-media-list a {
    display: block;
    margin-top: px;
}

.header-btn {
    display: inline-block;
    overflow: hidden;
    font-size: 11px;
    color: #fff!important;
    vertical-align: top;
    border-radius: 3px
}

.header-btn .legend {
    background-color: #555
}

.header-btn .legend,.header-btn .paypal {
    display: inline-block;
    padding: 0 .5rem;
    line-height: 20px
}

.header-btn .paypal {
    background-color: #007ec6
}

.github-btn {
    display: inline-block
}

#header-btns {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1000;
    animation: fadein 300ms ease 2s forwards;
    transform-origin: center top;
    transform: scaleY(0);
}

@keyframes fadein {
    from { transform: scaleY(0); }
    to { transform: scaleY(1); }
}
